[Unit]
Description = This is a python script that tracks the creation/modification and deletion of service files in their >
After = network.target

[Service]
Type = simple
WorkingDirectory = /var/log/system-hunter
ExecStart = /usr/bin/python3 /opt/system-hunter/hunter.py
User = systemhunter
Group = systemhunter
Restart = on-failure
SyslogIdentifier = detected_changes.log
RestartSec = 5
TimeoutStartSec = infinity

# Added Security
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy = multi-user.target
