[Unit]
Description = This is a python script that tracks the creation/modification and deletion of service files in their >
After = network.target

[Service]
Type = simple
ExecStart = /usr/bin/python3 /opt/system-hunter/hunter.py
User = root
Group = root
Restart = on-failure
SyslogIdentifier = detected_changes.log
RestartSec = 5
TimeoutStartSec = infinity

[Install]
WantedBy = multi-user.target
